/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "variables";

nav {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

h1 {
	font-family: "Roboto Mono", monospace;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;

	span {
		font-family: "Roboto Mono", monospace;
		font-size: 18px;
		width: 50%;
		text-align: center;
		padding:10px 0;
		user-select: none;
		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;

		.icon {
			margin-right: 20px;
			width: 30px;
			height: 30px;
		}
	}

	span:hover {
		cursor: pointer;
	}

	.active {
		background: $blue;
		color: $black;
	}
}

h1 {
	font-size: 16px;
}

a {
	color: $white;
	text-decoration: none;
	margin-left: 10px;

	.icon {
		width: 30px;
		height: 30px;
		transition: all 250ms ease-in-out;
	}
}

a:hover .icon {
	transform: scale(1.25);
}
